extends ../../../../templates/mainwithsession

block content
    h1 yow private
block content
    
    <link rel="stylesheet" href="/styles/guestform.css">
    <div class="container">
        <div class="jumbotron">
                <p>List of requirements</p>
                <p>Una, dapat baby ka boy. wag kang ano. whahah. Dejk lang, kahit matanda pwedeng magpabinyag. :)</p>
                <p>Birthcertificate</p>
                <p>Payment: (so what will we do with this? the payment is derived from the difference of the sponsors minus two, multiplied by 50,plus 300. sabog!)</p>
        
                <p>Present your reservation code here</p>
        </div>        
    </div>
    <div class="footer">
        <p> FOLLOW US ON SOCIAL MEDIA </p>
        <i class="fa fa-facebook fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-twitter fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-instagram fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-youtube fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-pinterest fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-linkedin fa-2x cust" aria-hidden="true"></i>
        <hr size="20">
        <f2> https://churchtogo.io </f2>
    </div>