//- <html>  
//-     <head>
//-         <meta charset="utf-8">
//-         <title>Login</title>
//-         <link rel="stylesheet" href="/styles/admin.css">
//-         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
//-         <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Bungee+Inline|Englebert|Holtwood+One+SC|Mouse+Memoirs|Titan+One" rel="stylesheet">

//-     </head>
//-     <body>
//-     <form method="POST" action="loginadmin" name="login_form">
//-         <div class="container">
//-                 <img src="/assets/pics/avatar.png" alt="Avatar">
//-                 <h1>Church-To-Go</h1>
//-                 <div class="form-input">
//-                     <form>
//-                         <i class="fa fa-user fa-2x cust" aria-hidden="true"></i>
//-                         <input type="text" name="user_username" value="" placeholder="Enter Username"><br />
//-                         <i class="fa fa-lock fa-2x cust" aria-hidden="true"></i>
//-                         <input type="password" name="user_password" value="" placeholder="Enter Password"><br />
//-                         <input type="submit" value="SIGN IN"><br />
                        
//-                     </form>
//-                 </div>
//-         </div>
//-     </form>
//-     </body>
//- </html>
