extends ../../../../templates/mainwithsession

block content
    <link rel="stylesheet" href="/styles/guestform.css">
    <div class="container">
    <div class="jumbotron">
    <form class="form-horizontal" method='post' action='listofsponsors'>
        <fieldset>
            <legend> LIST OF SPONSORS </legend>
            <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Ninong Last name:</label>
            <div class="col-lg-10">
                <input type="text" name="ninonglastname" class="form-control" placeholder="Enter name">
            </div>
            </div>
            <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Ninong First name:</label>
            <div class="col-lg-10">
                <input type="text" name="ninongfirstname" class="form-control" placeholder="Enter name">
            </div>
            </div>
            <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Ninong middle name:</label>
            <div class="col-lg-10">
                <input type="text" name="ninongmiddlename" class="form-control" placeholder="Enter name">
            </div>
            </div><div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">ninang Last name:</label>
            <div class="col-lg-10">
                <input type="text" name="ninanglastname" class="form-control" placeholder="Enter name">
            </div>
            </div>
            <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">ninang First name:</label>
            <div class="col-lg-10">
                <input type="text" name="ninangfirstname" class="form-control" placeholder="Enter name">
            </div>
            </div>
            <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">ninang middle name:</label>
            <div class="col-lg-10">
                <input type="text" name="ninangmiddlename" class="form-control" placeholder="Enter name">
            </div>
            </div>
            <div class="form-group">
            <div class="col-lg-10">
                <div class="checkbox">
                    <label><input type="checkbox"> I hereby cerify that all of the above information are true and correct the best of my knowledge. </label>
                </div>
            </div>
            </div>
            <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </div>
        </fieldset>
    </form>
    </div>
    <div class="footer">
        <p> FOLLOW US ON SOCIAL MEDIA </p>
        <i class="fa fa-facebook fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-twitter fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-instagram fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-youtube fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-pinterest fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-linkedin fa-2x cust" aria-hidden="true"></i>
        <hr size="20">
        <f2> https://churchtogo.io </f2>
    </div>