extends ./base

block body  
            <link rel="icon" type="image/gif" href="/assets/favicon/church-icon.png">

            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
            <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            <font face="KG Broken Vessels Sketch Regular">
            <div class="banner"></div>
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        
                        <li><a href='/admin/home'><span class="glyphicon glyphicon-home" aria-hidden="true"></span> HOME</a></li>
                        <li><a href='/admin/records'><span class="glyphicon glyphicon-tasks"></span> RECORDS</a></li>
                        <li><a href='/admin/reservationrequests'><span class="glyphicon glyphicon-comment"></span> REQUESTS</a></li>
                        <li><a href="/admin/calendar"><span class="glyphicon glyphicon-calendar"></span> CALENDAR</a></li>                                                
                        <li><a href="/admin/about"><span class="glyphicon glyphicon-info-sign"></span> ABOUT US</a></li>
                        
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LOG-OUT</a></li>
                    </ul>
                    </div>
                </div>
            </nav>
            </font>

            div.container
            block content