extends ../../../../templates/secret.pug

block content
    <link rel="stylesheet" href="/styles/records.css">

    <div class="container">
        <div class="jumbotron">
            <legend> LIST OF EVENTS </legend><hr>
            <a href='/admin/records/annointment'><p>ANNOINTMENT</p></a><hr>
            <a href='/admin/records/baptismal'><p>BAPTISMAL</p></a><hr>
            <a href='/admin/records/funeralmass'><p>FUNERAL MASS</p></a><hr>
            <a href='/admin/records/masswedding'><p>MASS WEDDING</p></a><hr>
            <a href='/admin/records/privatewedding'><p>PRIVATE WEDDING</p></a>
        </div>
    </div>
    <div class="footer">
        <p> FOLLOW US ON SOCIAL MEDIA </p>
        <i class="fa fa-facebook fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-twitter fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-instagram fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-youtube fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-pinterest fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-linkedin fa-2x cust" aria-hidden="true"></i>
        <hr size="20">
        <f2> https://churchtogo.io </f2>
    </div>