extends ../../../../templates/secret.pug

block content

    <link rel="stylesheet" href="/styles/annointmentrequest.css">

    <div class="container">
    <div class="jumbotron">
    <legend> MASS WEDDING REQUEST </legend>
    <h1> /* Information about this requests */ </h1>
        <form>
            <label class="radio-inline">
            <input type="radio" name="optradio"> ACCEPT
            </label>
            <label class="radio-inline">
            <input type="radio" name="optradio"> DECLINE
            </label>
        </form>
    </div>
    </div>
    <div class="footer">
        <p> FOLLOW US ON SOCIAL MEDIA </p>
        <i class="fa fa-facebook fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-twitter fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-instagram fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-youtube fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-google fa-2x cust" aria-hidden="true"></i>
        <i class="fa fa-linkedin fa-2x cust" aria-hidden="true"></i>
        <hr size="20">
        <f2> https://churchtogo.io </f2>
    </div>